<launch>
  <arg name="joints"/>
  <arg name="cm"/>
  <arg name="rate" default="0.0"/>
  <node name="traj_ex_test" pkg="traj_ex_test" type="traj_ex_test" output="screen">
    <rosparam param="joints" subst_value="True">$(arg joints)</rosparam>
    <param name="moveit_controller_manager" value="$(arg cm)"/>
    <param name="rate" value="$(arg rate)" type="double"/>
  </node>
</launch>
